/**
 * @name AmoledBD
 * @description An Amoled theme for BD (and powercord)
 * @author 0J3#0001
 * @version 0.1.1
 * @website https://discord.gg/uPCVMKDSVM
 * @source https://github.com/0J3/AmoledBD/tree/master
 * @updateUrl https://0J3.github.io/AmoledBD/downloads/AmoledBD.theme.css
 */
/* SEE SCSS FOR SOURCE */
.theme-dark,
.theme-light {
  /* dark theme styles */
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --background-mentioned: rgba(250, 166, 26, 0.05);
  --background-mentioned-hover: rgba(250, 166, 26, 0.08);
  --background-message-hover: rgba(4, 4, 5, 0.07);
  --background-help-warning: rgba(250, 166, 26, 0.1);
  --background-help-info: rgba(0, 176, 244, 0.1);
  --elevation-stroke: 0 0 0 1px rgba(4, 4, 5, 0.15);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
  	0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --logo-primary: #fff;
  --focus-primary: #00b0f4;
  --radio-group-dot-foreground: #8ea1e1;
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #36393f;
  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
  /* replaced styles */
  /* BGs */
  --background-primary: #000000;
  --background-secondary: #030303;
  --background-secondary-alt: #020202;
  --background-tertiary: #000000;
  --background-quaternary: #111111;
  /* theme only */
  --background-quinary: #070707;
  /* theme only */
  --background-accent: #000000;
  --background-floating: #050505;
  /* Textbox */
  --channeltextarea-background: var(--background-secondary);
  /* Scrollbars */
  --scrollbar-auto-thumb: #050505;
  --scrollbar-auto-track: rgb(0, 0, 0);
  --scrollbar-thin-thumb: #000000;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --toast-background: #0a0a0a;
  --toast-header: #0c0c0c;
  --toast-contents: #070707;
  --toast-box-shadow: rgba(55, 0, 255, 0.281);
  --toast-border: rgba(0, 0, 0, 0);
}

.avatar-1BDn8e[data-user-id="596425713347723269"] {
  transition: transform 1s;
  transform: translate(0%, 0%);
}
.avatar-1BDn8e[data-user-id="596425713347723269"]:hover {
  transform: translate(0%, -10%);
}

.avatar-1BDn8e[data-user-id="290610400763052035"] {
  transition: transform 1s;
  transform: translate(0%, 0%);
}
.avatar-1BDn8e[data-user-id="290610400763052035"]:hover {
  transform: translate(0%, -10%);
}

/* Uncategorized */
.uploadModal-2ifh8j,
.footer-3mqk7D,
.footer-2gL1pp,
.root-1gCeng,
.bd-addon-error,
.peopleList-3c4jOR,
.colorDark-1yVQpk {
  background: var(--background-primary) !important;
  box-shadow: none !important;
}

.container-6sXIoE.withTimeline-824fT_ {
  border-bottom: none !important;
}

.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g {
  background: var(--background-quinary) !important;
}

/* SPOILERS */
.spoilerText-3p6IlD.hidden-HHr2R9 {
  background: var(--background-secondary) !important;
}

.spoilerText-3p6IlD.hidden-HHr2R9:hover {
  background: var(--background-secondary) !important;
}

.spoilerText-3p6IlD,
.root-1gCeng {
  background-color: var(--background-quinary) !important;
}

/* Payment Pane */
.paymentPane-3bwJ6A,
.codeRedemptionRedirect-1wVR4b {
  background-color: var(--background-quinary) !important;
}

/* Voice & Video */
.notches-1sAcEM.gray-3_LNYR {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23000000'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}

.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background: var(--background-secondary) !important;
}

/* MENTION AUTOCOMPLET */
.autocomplete-1vrmpx {
  background: var(--background-secondary) !important;
}

.base-1pYU8j.selectable-3dP3y- {
  background: var(--background-secondary) !important;
  filter: grayscale(100%) blur(2px);
  transition: blur 1s;
}

.base-1pYU8j.selectable-3dP3y-.selected-1Tbx07 {
  background: var(--background-quaternary) !important;
  filter: none;
}

/* My Account */
.colorGrey-2DXtkV {
  background: var(--background-quaternary) !important;
}

/* Game Activity */
/* > NO GAME */
.notDetected-33MY4s {
  background: var(--background-quaternary) !important;
}

/* User Modal */
.headerNormal-T_seeN {
  background: var(--background-primary) !important;
}

.body-3iLsc4,
.footer-1fjuF6 {
  background: var(--background-secondary) !important;
}

/*** BBD Only ***/
/* Monaco Editor */
.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background: var(--background-quaternary) !important;
}

.monaco-editor .margin-view-overlays {
  background: var(--background-quinary) !important;
}

/*# sourceMappingURL=main.css.map */
